# Arquivos de compilação e saída de build
/dist/
/out/
/build/
*.js
*.js.map

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários
*.swp
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Configuração do editor
.vscode/
.idea/

# Arquivos de ambiente
.env
.env.local

# Dependências do npm
/package-lock.json

# Dependências do Yarn
/yarn.lock

# Arquivos gerados pelo Docker
docker-compose.override.yml
docker-compose.yml
docker-compose.prod.yml

# Arquivos de cache do Prisma
/prisma/.prisma
/prisma/migration
/prisma/schema.prisma

# Arquivos de cache do Jest
/.jest/
/coverage/
/.nyc_output/

# Configuração local do NestJS
ormco
